<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSTransporteKiosk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <CSTransporteKiosk.Properties.Settings>
            <setting name="EmpresaLogotipo" serializeAs="String">
                <value>C:\Users\Tomas\Dropbox\Cardoner Sistemas\CS-Transporte\Resource\Interface\lobosbus.gif</value>
            </setting>
            <setting name="EmpresaVideo" serializeAs="String">
                <value>C:\Users\Tomas\Dropbox\Cardoner Sistemas\CS-Transporte\Resource\Interface\lobosbus.mp4</value>
            </setting>
            <setting name="CompaniaSoftwareLogotipo" serializeAs="String">
                <value>C:\Users\Tomas\Dropbox\Cardoner Sistemas\Design\Nuevo\borrador.png</value>
            </setting>
            <setting name="MessageBoxBackColor" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="MessageBoxForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MessageBoxButtonBackColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="MessageBoxButtonForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Segoe UI, 15.75pt, style=Bold</value>
            </setting>
        </CSTransporteKiosk.Properties.Settings>
    </applicationSettings>
</configuration>