<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSTransporteKiosko.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <CSTransporteKiosko.Properties.Settings>
            <setting name="POSPrinterName" serializeAs="String">
                <value>MainPOSPrinter</value>
            </setting>
            <setting name="DatabaseDatasource" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DatabaseDatabase" serializeAs="String">
                <value>CSTransporte</value>
            </setting>
            <setting name="DatabaseUserID" serializeAs="String">
                <value>cstransporte</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value>TL3PAPs8zwNH4E0EJ+E8Jz8L9dNzsY+I6e+gqL9BhBlVp8D+lrjVOeVI4FEOcpsg</value>
            </setting>
        </CSTransporteKiosko.Properties.Settings>
    </applicationSettings>
</configuration>
